google-generativeai
python-dotenv
pymupdf
faiss-cpu
google-generativeai
chromadb
pysqlite3-binary
rank-bm25
fuzzywuzzy
fuzzywuzzy[speedup]
nltk
wordfreq
sentence-transformers
faiss-cpu
pymupdf
sentence-transformers
flask
requests
transformers
torch
spacy
flask
flask-bcrypt
flask-sqlalchemy
flask-cors
psycopg2-binary
